.uk-card-martijn-1{
    background: dodgerblue;
    color: whitesmoke;
}

.uk-card-title-martijn-1{
    color: whitesmoke;
}

.uk-card-martijn-2{
    background: darkgoldenrod;
    color: whitesmoke;
}

.uk-card-title-martijn-2{
    color: whitesmoke;
}

.uk-card-martijn-3{
    background: lightsteelblue;
    color: black;
}
/*test*/
.uk-card-title-martijn-3{
    color: black;
}

.uk-card-martijn-4{
    background: lightyellow;
    color: maroon;
}

.uk-card-title-martijn-4{
    color: maroon;
}

.uk-card-martijn-5{
    background: lightgrey;
    color: black;
}

.uk-card-title-martijn-5{
    color: black;
}

.uk-section-martijn-1{
    background: #FFBFEF;
}

.uk-section-martijn-2{
    background: #FCCDFF;
}

.uk-section-martijn-3{
    background: #E8D2FF;
}

.uk-section-martijn-4{
    background: #CFCDFF;
}

.uk-section-martijn-5{
    background: #BFCFFF;
}

.uk-section-martijn-6{
    background: #FFFDDD;
}

.uk-padding-martijn-1{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

